<div class="pickNprofile">
  <div class="pick-players general">
    <form method="get">
      <h4 class="generalh4">Pick Players</h4>
      <label for="player">Choose Player 1:</label>
      <select name="p1" id="p1">
        <option value="" selected disabled>-- Select Player 1 --</option>
        {% for player in players %}
        <option value="{{player.name}}">{{player.name}}</option>
        {% endfor %}
      </select>

      <label for="player">Choose Player 2:</label>
      <select name="p2" id="p2">
        <option value="" selected disabled>-- Select Player 2 --</option>
        {% for player in players %}
        <option value="{{player.name}}">{{player.name}}</option>
        {% endfor %}
      </select>

      <label for="final_set">Final Set Scoring:</label>
      <select name="final_set_scoring" id="final_set_scoring">
        <option value="" selected disabled>-- Select Final Set Scoring --</option>
        <option value="normal">Normal Set</option>
        <option value="super_tiebreak">Super Tiebreak (at 6–6)</option>
        <option value="super_tiebreak_only">Super Tiebreak Last Set</option>
      </select>

      <button id="submit" name="submit" type="submit" value="1">Submit</button>
      <button id="reset" type="submit" formaction="{% url 'home' %}">Reset</button>
    </form>

    {% if error %}
    <div id="error-msg" data-message="{{ error }}" style="display: none"></div>
    {% endif %}
  </div>
  <div class="profiles general">
    <h4 class="generalh4">Player Profiles</h4>
    <table class="player-compare">
      <thead>
        <tr>
          <th>{{ p1_profile.name }}</th>
          <th>VS</th>
          <th>{{ p2_profile.name }}</th>
        </tr>
        <tr>
          <th><img src="{{p1_profile.photo}}" alt="" /></th>
          <th></th>
          <th><img src="{{p2_profile.photo}}" alt="" /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ p1_profile.country }}</td>
          <td>Country</td>
          <td>{{ p2_profile.country }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.titles }}</td>
          <td>Titles</td>
          <td>{{ p2_profile.titles }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.finals }}</td>
          <td>Finals</td>
          <td>{{ p2_profile.finals }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.best_ranking }}</td>
          <td>Best Ranking</td>
          <td>{{ p2_profile.best_ranking }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.height }} cm</td>
          <td>Height</td>
          <td>{{ p2_profile.height }} cm</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
