{% load static %}
<div class="{% if match_type and final_set_scoring %}pickNprofile{% endif %} {% if not match_type and not final_set_scoring %}pickNprofile_start{% endif %}">
  <div class="pick-players general">
    <form method="get" id="playerForm" action="{% url 'home' %}">
      <h4 class="generalh4">Data Match</h4>
      <div class="match-type">
        <label class="system">
          <input type="radio" name="match" value="single" checked />
          <span>Single</span>
        </label>
        <label class="system">
          <input type="radio" name="match" value="double" />
          <span>Double</span>
        </label>
      </div>
      <div class="form_player_set">
        <div class="single-player">
          <div class="player">
            <label for="player">Choose Player 1:</label>
            <select name="p1" id="p1">
              <option value="" selected disabled>-- Select Player 1 --</option>
              {% for player in players %}
              <option value="{{player.name}}">{{player.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="player">
            <label for="player">Choose Player 2:</label>
            <select name="p2" id="p2">
              <option value="" selected disabled>-- Select Player 2 --</option>
              {% for player in players %}
              <option value="{{player.name}}">{{player.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="double-player">
          <div class="team">
            <label>Team 1</label>
            <div class="select_double_player">
              <select name="p1_team1" id="p1_team1">
                <option value="" selected disabled>-- Player 1 Team 1 --</option>
                {% for player in players %}
                <option value="{{player.name}}">{{player.name}}</option>
                {% endfor %}
              </select>
              <p>&</p>
              <select name="p2_team1" id="p2_team1">
                <option value="" selected disabled>-- Player 2 Team 1 --</option>
                {% for player in players %}
                <option value="{{player.name}}">{{player.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="team">
            <label>Team 2</label>
            <div class="select_double_player">
              <select name="p1_team2" id="p1_team2">
                <option value="" selected disabled>-- Player 1 Team 2 --</option>
                {% for player in players %}
                <option value="{{player.name}}">{{player.name}}</option>
                {% endfor %}
              </select>
              <p>&</p>
              <select name="p2_team2" id="p2_team2">
                <option value="" selected disabled>-- Player 2 Team 2 --</option>
                {% for player in players %}
                <option value="{{player.name}}">{{player.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="final_set">
          <label for="final_set_scoring">Final Set Scoring:</label>
          <select name="final_set_scoring" id="final_set_scoring">
            <option value="" selected disabled>-- Select Final Set Scoring --</option>
            <option value="normal">Normal Set</option>
            <option value="super_tiebreak">Super Tiebreak (at 6–6)</option>
            <option value="super_tiebreak_only">Super Tiebreak Last Set</option>
          </select>
        </div>
      </div>
      <div class="button">
        <button id="submit" type="button" onclick="validateAndShowPopup()">Submit</button>
        <button type="button" onclick="openResetForm()">Reset</button>
      </div>

      <input type="hidden" name="submit" value="1" />
      <input type="hidden" name="first_server" id="first_server" />
      <input type="hidden" name="active_tab" id="active_tab" value="{{ active_tab|default:'pick' }}" />
    </form>

    {% if error %}
    <div id="error-msg" data-message="{{ error }}" style="display: none"></div>
    {% endif %}
  </div>
  {% if match_type and final_set_scoring %}
  <div class="profiles general">
    {% if match_type == "single" %}
    <h4 class="generalh4">Player Single Profiles</h4>
    <table class="player-compare">
      <thead>
        <tr>
          <th>{{ p1_profile.0.name }}</th>
          <th>VS</th>
          <th>{{ p2_profile.0.name }}</th>
        </tr>
        <tr>
          <th><img src="{{p1_profile.0.photo}}" alt="" /></th>
          <th></th>
          <th><img src="{{p2_profile.0.photo}}" alt="" /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ p1_profile.0.country }}</td>
          <td>Country</td>
          <td>{{ p2_profile.0.country }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.titles }}</td>
          <td>Titles</td>
          <td>{{ p2_profile.0.titles }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.finals }}</td>
          <td>Finals</td>
          <td>{{ p2_profile.0.finals }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.best_ranking }}</td>
          <td>Best Ranking</td>
          <td>{{ p2_profile.0.best_ranking }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.height }} cm</td>
          <td>Height</td>
          <td>{{ p2_profile.0.height }} cm</td>
        </tr>
      </tbody>
    </table>
    {% endif %} {% if match_type == "double" %}
    <table class="player-compare double">
      <thead>
        <tr>
          <th>
            {{ p1_profile.0.name }} /<br />
            {{ p1_profile.1.name }}
          </th>
          <th>VS</th>
          <th>
            {{ p2_profile.0.name }} /<br />
            {{ p2_profile.1.name }}
          </th>
        </tr>
        <tr>
          <th>
            <div class="double_player"><img src="{{p1_profile.0.photo}}" alt="" /><img src="{{p1_profile.1.photo}}" alt="" /></div>
          </th>
          <th></th>
          <th>
            <div class="double_player"><img src="{{p2_profile.0.photo}}" alt="" /><img src="{{p2_profile.1.photo}}" alt="" /></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ p1_profile.0.country }} / {{ p1_profile.1.country }}</td>
          <td>Country</td>
          <td>{{ p2_profile.0.country }} / {{ p2_profile.1.country }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.titles }} / {{ p1_profile.1.titles }}</td>
          <td>Titles</td>
          <td>{{ p2_profile.0.titles }} / {{ p2_profile.1.titles }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.finals }} / {{ p1_profile.1.finals }}</td>
          <td>Finals</td>
          <td>{{ p2_profile.0.finals }} / {{ p2_profile.1.finals }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.best_ranking }} / {{ p1_profile.1.best_ranking }}</td>
          <td>Best Ranking</td>
          <td>{{ p2_profile.0.best_ranking }} / {{ p2_profile.1.best_ranking }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.0.height }} cm / {{ p1_profile.1.height }} cm</td>
          <td>Height</td>
          <td>{{ p2_profile.0.height }} cm / {{ p2_profile.1.height }} cm</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endif%}
</div>

<div id="overlay"></div>
<div id="popup">
  <h3>Confirm Match</h3>

  <p id="popup_p1"></p>
  <p>VS</p>
  <p id="popup_p2"></p>
  <p id="popup_final"></p>
  <div class="popup-buttons">
    <button onclick="closeAllPopups()" class="btn-cancel">Cancel</button>
    <button onclick="confirmMatch()" class="btn-confirm">Confirm</button>
  </div>
</div>
<div id="popup_alert">
  <p>⚠️ Pick 2 different players or team and method last set!!"</p>
  <button onclick="closePopupNotComplete()" class="btn-cancel">Back</button>
</div>

<div id="popup_alert_reset">
  <p>⚠️ Are you sure reset the match?</p>
  <button onclick="closeAllPopups()" class="btn-cancel">Cancel</button>
  <button onclick="resetForm()" class="btn-confirm">Confirm</button>
</div>

<div id="popup-server">
  <h3>Select First Server</h3>
  <button type="button" onclick="setFirstServer('p1')" id="btn_p1_server" class="btn-confirm">{{ p1_profile }}</button>

  <button type="button" onclick="setFirstServer('p2')" id="btn_p2_server" class="btn-confirm">{{ p2_profile }}</button>

  <button onclick="closeServerPopup()" class="btn-cancel">Cancel</button>
</div>
<script>
  function openResetForm() {
    document.getElementById("overlay").style.display = "block";
    popup_alert_reset.style.display = "block";
    document.body.style.overflow = "hidden";
    return;
  }

  function resetForm() {
    window.location.href = "/?reset=1";
  }

  function validateAndShowPopup() {
    let matchType = document.querySelector('input[name="match"]:checked').value;
    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;
    let players = [document.getElementById("p1_team1").value, document.getElementById("p2_team1").value, document.getElementById("p1_team2").value, document.getElementById("p2_team2").value];
    let finalSet = document.getElementById("final_set_scoring").value;
    players = players.map((p) => p?.trim()).filter((p) => p !== "");
    let unique = new Set(players);

    if ((!p1 || !p2 || p1 === p2 || !finalSet) && matchType === "single") {
      document.getElementById("overlay").style.display = "block";
      popup_alert.style.display = "block";
      document.body.style.overflow = "hidden";
      return;
    }

    if ((players.length !== 4 || unique.size !== 4 || !finalSet) && matchType === "double") {
      document.getElementById("overlay").style.display = "block";
      popup_alert.style.display = "block";
      document.body.style.overflow = "hidden";
      return;
    }

    showPopup();
  }

  function showPopup() {
    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;
    let p1_team1 = document.getElementById("p1_team1").value;
    let p2_team1 = document.getElementById("p2_team1").value;
    let p1_team2 = document.getElementById("p1_team2").value;
    let p2_team2 = document.getElementById("p2_team2").value;
    let finalSet = document.getElementById("final_set_scoring").value;
    let matchType = document.querySelector('input[name="match"]:checked').value;

    let finalSetText = {
      normal: "Normal Set",
      super_tiebreak: "Super Tiebreak (6–6)",
      super_tiebreak_only: "Super Tiebreak Only",
    };

    if (matchType === "single") {
      document.getElementById("popup_p1").innerText = p1;
      document.getElementById("popup_p2").innerText = p2;
    } else {
      document.getElementById("popup_p1").innerText = p1_team1 + " & " + p2_team1;
      document.getElementById("popup_p2").innerText = p1_team2 + " & " + p2_team2;
    }
    document.getElementById("popup_final").innerText = "Final Set: " + finalSetText[finalSet];

    document.getElementById("overlay").style.display = "block";
    let popup = document.getElementById("popup");
    popup.style.display = "block";

    // animasi masuk
    setTimeout(() => {
      popup.classList.add("show");
    }, 10);
  }

  function closePopupNotComplete() {
    let popup = document.getElementById("popup_alert");

    popup.classList.remove("show");

    setTimeout(() => {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  function closeAllPopups() {
    let popups = ["popup", "popup_alert", "popup_alert_reset", "popup-server"];

    popups.forEach((id) => {
      let el = document.getElementById(id);
      if (el) {
        el.style.display = "none";
        el.classList.remove("show");
      }
    });

    document.getElementById("overlay").style.display = "none";
    document.body.style.overflow = "auto";
  }

  function confirmMatch() {
    closeAllPopups(); // tutup popup pertama
    showServerPopup(); // buka popup kedua
  }

  function showServerPopup() {
    document.getElementById("overlay").style.display = "block";

    let popup = document.getElementById("popup-server");
    popup.style.display = "block";

    let matchType = document.querySelector('input[name="match"]:checked')?.value?.toLowerCase();

    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;
    let p1_team1 = document.getElementById("p1_team1").value;
    let p2_team1 = document.getElementById("p2_team1").value;
    let p1_team2 = document.getElementById("p1_team2").value;
    let p2_team2 = document.getElementById("p2_team2").value;

    if (matchType === "single") {
      document.getElementById("btn_p1_server").innerText = p1;
      document.getElementById("btn_p2_server").innerText = p2;
    } else {
      document.getElementById("btn_p1_server").innerText = p1_team1 + " & " + p2_team1;
      document.getElementById("btn_p2_server").innerText = p1_team2 + " & " + p2_team2;
    }

    setTimeout(() => {
      popup.classList.add("show");
    }, 10);
  }

  function closeServerPopup() {
    let popup = document.getElementById("popup-server");

    popup.classList.remove("show");

    setTimeout(() => {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  function setFirstServer(playerKey) {
    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;

    document.getElementById("first_server").value = playerKey;
    document.getElementById("active_tab").value = "score";
    document.getElementById("playerForm").requestSubmit();
  }

  function matchFinish() {
    let finish = "{{ finish }}";

    if (finish === "True") {
      document.getElementById("active_tab").value = "stat";

      const triggerEl = document.querySelector('[data-bs-target="#stat"]');
      if (triggerEl) {
        const tab = new bootstrap.Tab(triggerEl);
        tab.show();
      }
    }
  }
</script>
