{% load static %}
<div class="pickNprofile">
  <div class="pick-players general">
    <form method="get" id="playerForm" action="{% url 'home' %}">
      <h4 class="generalh4">Data Match</h4>
      <div class="match-type">
        <label class="system">
          <input type="radio" name="match" value="single" checked />
          <span>Single</span>
        </label>
        <label class="system">
          <input type="radio" name="match" value="double" />
          <span>Double</span>
        </label>
      </div>
      <div class="single-player">
        <label for="player">Choose Player 1:</label>
        <select name="p1" id="p1">
          <option value="" selected disabled>-- Select Player 1 --</option>
          {% for player in players %}
          <option value="{{player.name}}">{{player.name}}</option>
          {% endfor %}
        </select>

        <label for="player">Choose Player 2:</label>
        <select name="p2" id="p2">
          <option value="" selected disabled>-- Select Player 2 --</option>
          {% for player in players %}
          <option value="{{player.name}}">{{player.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="double-player">
        <div class="team">
          <label>Team 1</label>
          <select name="p1_team1" id="p1_team1">
            <option value="" selected disabled>-- Player 1 Team 1 --</option>
            {% for player in players %}
            <option value="{{player.name}}">{{player.name}}</option>
            {% endfor %}
          </select>

          <select name="p2_team1" id="p2_team1">
            <option value="" selected disabled>-- Player 2 Team 1 --</option>
            {% for player in players %}
            <option value="{{player.name}}">{{player.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="team">
          <label>Team 2</label>
          <select name="p1_team2" id="p1_team2">
            <option value="" selected disabled>-- Player 1 Team 2 --</option>
            {% for player in players %}
            <option value="{{player.name}}">{{player.name}}</option>
            {% endfor %}
          </select>

          <select name="p2_team2" id="p2_team2">
            <option value="" selected disabled>-- Player 2 Team 2 --</option>
            {% for player in players %}
            <option value="{{player.name}}">{{player.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <label for="final_set_scoring">Final Set Scoring:</label>
      <select name="final_set_scoring" id="final_set_scoring">
        <option value="" selected disabled>-- Select Final Set Scoring --</option>
        <option value="normal">Normal Set</option>
        <option value="super_tiebreak">Super Tiebreak (at 6–6)</option>
        <option value="super_tiebreak_only">Super Tiebreak Last Set</option>
      </select>

      <button id="submit" type="button" onclick="validateAndShowPopup()">Submit</button>
      <button type="button" onclick="resetForm()">Reset</button>
      <input type="hidden" name="submit" value="1" />
      <input type="hidden" name="first_server" id="first_server" />
      <input type="hidden" name="active_tab" id="active_tab" value="{{ active_tab|default:'pick' }}" />
    </form>

    {% if error %}
    <div id="error-msg" data-message="{{ error }}" style="display: none"></div>
    {% endif %}
  </div>
  <div class="profiles general">
    <h4 class="generalh4">Player Profiles</h4>
    <table class="player-compare">
      <thead>
        <tr>
          <th>{{ p1_profile.name }}</th>
          <th>VS</th>
          <th>{{ p2_profile.name }}</th>
        </tr>
        <tr>
          <th><img src="{{p1_profile.photo}}" alt="" /></th>
          <th></th>
          <th><img src="{{p2_profile.photo}}" alt="" /></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ p1_profile.country }}</td>
          <td>Country</td>
          <td>{{ p2_profile.country }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.titles }}</td>
          <td>Titles</td>
          <td>{{ p2_profile.titles }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.finals }}</td>
          <td>Finals</td>
          <td>{{ p2_profile.finals }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.best_ranking }}</td>
          <td>Best Ranking</td>
          <td>{{ p2_profile.best_ranking }}</td>
        </tr>
        <tr>
          <td>{{ p1_profile.height }} cm</td>
          <td>Height</td>
          <td>{{ p2_profile.height }} cm</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="overlay"></div>
<div id="popup">
  <h3>Confirm Match</h3>

  <p id="popup_p1"></p>
  <p>VS</p>
  <p id="popup_p2"></p>
  <p id="popup_final"></p>
  <div class="popup-buttons">
    <button onclick="closePopup()" class="btn-cancel">Cancel</button>
    <button onclick="confirmMatch()" class="btn-confirm">Confirm</button>
  </div>
</div>
<div id="popup_alert">
  <p>⚠️ Pick 2 different players and method last set!!"</p>
  <button onclick="closePopupNotComplete()" class="btn-cancel">Back</button>
</div>

<div id="popup-server">
  <h3>Select First Server</h3>
  <button type="button" onclick="setFirstServer('p1')" id="btn_p1_server" class="btn-confirm">{{ p1_profile }}</button>

  <button type="button" onclick="setFirstServer('p2')" id="btn_p2_server" class="btn-confirm">{{ p2_profile }}</button>

  <button onclick="closeServerPopup()" class="btn-cancel">Cancel</button>
</div>
<script>
  function resetForm() {
    window.location.href = "/?reset=1";
  }

  function validateAndShowPopup() {
    let matchType = getMatchType();
    let finalSet = document.getElementById("final_set_scoring").value;

    if (!finalSet) {
      showError();
      return;
    }

    if (matchType === "single") {
      let p1 = document.getElementById("p1").value;
      let p2 = document.getElementById("p2").value;

      if (!p1 || !p2 || p1 === p2) {
        console.log(document.getElementById("popup_alert"));
        showError();
        return;
      }
    }

    if (matchType === "double") {
      let players = [document.getElementById("p1_team1").value, document.getElementById("p2_team1").value, document.getElementById("p1_team2").value, document.getElementById("p2_team2").value];
      // CLEAN DATA (ini penting banget)
      players = players.map((p) => p?.trim()).filter((p) => p !== "");

      let unique = new Set(players);

      if (players.length !== 4 || unique.size !== 4) {
        showError();
        return;
      }
    }

    showPopup();
  }

  function getMatchType() {
    return document.querySelector('input[name="match"]:checked').value;
  }

  function showError() {
    console.log("ERROR TRIGGERED");
    document.getElementById("overlay").style.display = "block";
    document.getElementById("popup_alert").style.display = "block";
    document.body.style.overflow = "hidden";
  }

  function showPopup() {
    let matchType = document.querySelector('input[name="match"]:checked').value;

    let p1, p2;

    if (matchType === "single") {
      p1 = document.getElementById("p1").value;
      p2 = document.getElementById("p2").value;
    } else {
      p1 = document.getElementById("p1_team1").value + " & " + document.getElementById("p2_team1").value;

      p2 = document.getElementById("p1_team2").value + " & " + document.getElementById("p2_team2").value;
    }

    let finalSet = document.getElementById("final_set_scoring").value;

    let finalSetText = {
      normal: "Normal Set",
      super_tiebreak: "Super Tiebreak (6–6)",
      super_tiebreak_only: "Super Tiebreak Only",
    };

    document.getElementById("popup_p1").innerText = p1;
    document.getElementById("popup_p2").innerText = p2;
    document.getElementById("popup_final").innerText = "Final Set: " + finalSetText[finalSet];

    document.getElementById("overlay").style.display = "block";
    let popup = document.getElementById("popup");
    popup.style.display = "block";

    setTimeout(() => {
      popup.classList.add("show");
    }, 10);
  }

  function closePopupNotComplete() {
    let popup = document.getElementById("popup_alert");

    popup.classList.remove("show");

    setTimeout(() => {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  function closePopup() {
    let popup = document.getElementById("popup");

    popup.classList.remove("show");

    setTimeout(() => {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  function confirmMatch() {
    closePopup(); // tutup popup pertama
    showServerPopup(); // buka popup kedua
  }

  function showServerPopup() {
    document.getElementById("overlay").style.display = "block";

    let popup = document.getElementById("popup-server");
    popup.style.display = "block";

    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;

    document.getElementById("btn_p1_server").innerText = p1;
    document.getElementById("btn_p2_server").innerText = p2;

    setTimeout(() => {
      popup.classList.add("show");
    }, 10);
  }

  function closeServerPopup() {
    let popup = document.getElementById("popup-server");

    popup.classList.remove("show");

    setTimeout(() => {
      popup.style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }, 200);
  }

  function setFirstServer(playerKey) {
    let p1 = document.getElementById("p1").value;
    let p2 = document.getElementById("p2").value;
    document.getElementById("btn_p1_server").innerText = p1;
    document.getElementById("btn_p2_server").innerText = p2;

    document.getElementById("first_server").value = playerKey;
    document.getElementById("active_tab").value = "score";
    document.getElementById("playerForm").requestSubmit();
  }
</script>
