<div class="score" id="score-section">
  <!-- Pick point Winner -->
  {% include 'snippets/pick_point.html' %}
  <!-- End of Pick point Winner -->
  <div class="general livescoreAll">
    <h4 class="generalh4">Live Score</h4>
    <div class="livescore">
      <!-- Scoring -->
      {% include 'snippets/score_player.html' %} {% if not finish %}
      <div class="setside">
        <p class="game">{{p1.set_win}}</p>
        <p class="game">{{p2.set_win}}</p>
      </div>
      {% endif %} {% include 'snippets/game.html' %} {% if not is_tiebreak and not finish %}
      <div class="pointside">
        <p class="points {% if last_winner_point == 'p1' %}flash{% endif %}">{{p1.point}}</p>
        <p class="points {% if last_winner_point == 'p2' %}flash{% endif %}">{{p2.point}}</p>
      </div>
      {% endif %} {% if show_live_tb %}
      <div class="pointside">
        <p class="points">{{p1.tiebreak_point_win}}</p>
        <p class="points">{{p2.tiebreak_point_win}}</p>
      </div>
      {% endif %}
    </div>
    <div class="last-points">
      <h6>Last 15 Points</h6>
      <div class="player-points">
        <p>{{p1_name}}</p>
        <div class="points_dot">
          {% for p in last_points %}
          <span class="dot {% if p == 'p1' %}win{% else %}lose{% endif %}"></span>
          {% endfor %}
        </div>
      </div>

      <div class="player-points">
        <p>{{p2_name}}</p>
        <div class="points_dot">
          {% for p in last_points %}
          <span class="dot {% if p == 'p1' %}lose{% else %}win{% endif %}"></span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="cancel_last_point">
      <h6>Cancel Point</h6>
      <form method="post" id="cancelForm">
        {% csrf_token %}
        <input type="hidden" name="cancel_point" value="1" />
        <button id="cancel_point" type="button" onclick="confirm_cancel()">Cancel Last Point</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const isFinished = {{ finish|yesno:"true,false" }};

    // reset saat match belum selesai
    if (!isFinished) {
        sessionStorage.removeItem("result_shown");
    }

    // tampilkan saat selesai
    if (isFinished && !sessionStorage.getItem("result_shown")) {
        sessionStorage.setItem("result_shown", "true");

        Swal.fire({
            title: 'Match Finished',
            html: `
               <div class="match-popup">
                <div class="winner">{{ match_winner|title }} def. {{ match_loser|title }} </div>
                <div class="winner">{{ score | safe }}</div>
            </div>
            `,
            icon: 'success',
            customClass: {
            popup: 'my-popup-bg' ,
            title : 'my-popup-title' // ini container popup
        }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
    const activeTab = "{{ active_tab|default:'pick' }}";

    // kalau di score → scroll ke score
    if (activeTab === "score") {
      const el = document.getElementById("score-section");
      if (el) {
        el.scrollIntoView({ behavior: "smooth" });
      }
    }
  });
</script>
