{% if match_type and final_set_scoring %} 
<div class="score" id="score-section">
  <!-- Pick point Winner -->
  {% include 'snippets/_score_pick_point.html' %}
  <!-- End of Pick point Winner -->
  <div class="general livescoreAll">
    <h4 class="generalh4">Live Score</h4>
    {% include 'snippets/_score_livescore.html' %}
    <div class="win-prob">
      <h6>Win Probability</h6>
      <div class="win-prob-graph">
         <div class="player p1">
            <span class="name">{{ p1_name_format.0 }}</span>
            {% if p1_name.1 %} <span class="name">{{ p1_name_format.1 }}</span> {% endif %}
          </div>

          <div class="bar">
            <div class="p1-bar" style="width: {{p1.win_probability}}%">{{p1.win_probability}}%"</div>
            <div class="scroll"></div>
            <div class="p2-bar" style="width: {{p2.win_probability}}%">{{p2.win_probability}}%"</div>
          </div>

          <div class="player p2">
            <span class="name">{{ p2_name_format.0 }}</span>
            {% if p2_name_format.1 %} <span class="name">{{ p2_name_format.1 }}</span> {% endif %}
          </div>
      </div>
    </div>
    <div class="last-points">
       <h6>Last 15 Points</h6>
       <table>
        <tbody>
          <tr>
            <td>
              {% if match_type == "single" %}  <span class="flag"> <img src="{{p1_profile.0.flag}}" alt="" /></span><span class="player_name">{{ p1_name.0|title}}</span> <span class="player_name_format">{{ p1_name_format.0|title}}</span> {% endif %}
              {% if match_type == "double" %}  {{p1_name_format.0}} <span class="country_table">({{p1_profile.0.country}})</span>  <br>  {{p1_name_format.1}} <span class="country_table">({{p2_profile.0.country}})</span>  {% endif %}
            </td>
            <td>
              <div class="points_dot">
              {% for p in last_points %}
              <span class="dot {% if p == 'p1' %}win{% else %}lose{% endif %}"></span>
              {% endfor %}
            </div>
          </td>
          </tr>
          <tr>
            <td>
              {% if match_type == "single" %}  <span class="flag"> <img src="{{p2_profile.0.flag}}" alt="" /></span><span class="player_name">{{ p2_name.0|title}}</span> <span class="player_name_format">{{ p2_name_format.0|title}}</span>  {% endif %} 
              {% if match_type == "double" %}  {{p2_name_format.0}} <span class="country_table">({{p2_profile.0.country}})</span> <br>  {{p2_name_format.1}} <span class="country_table">({{p2_profile.1.country}})</span> {% endif %}
            </td>
            <td>
              <div class="points_dot">
              {% for p in last_points %}
              <span class="dot {% if p == 'p2' %}win{% else %}lose{% endif %}"></span>
              {% endfor %}
            </div>
            </td>
          </tr>
        </tbody>
       </table>
    </div>
      
    </div>
  </div>
{% endif %}


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
      const isFinished = {{ finish|yesno:"true,false" }};

      // reset saat match belum selesai
      if (!isFinished) {
          sessionStorage.removeItem("result_shown");
      }

      // tampilkan saat selesai
      if (isFinished && !sessionStorage.getItem("result_shown")) {
          sessionStorage.setItem("result_shown", "true");

          Swal.fire({
                title: 'Match Finished',
                html: `
                 <div class="match-popup">
                  {% if match_type == "single" %} <div class="winner">{{ match_winner.0|title }} def. {{ match_loser.0|title }} </div> {% endif %}
                  {% if match_type == "double" %} <div class="winner">{{ match_winner.0|title }} / {{ match_winner.1|title }} def. </br> {{ match_loser.0|title }} / {{ match_loser.1|title }} </div> {% endif %}
                  <div class="winner">{{ score | safe }}</div>
              </div>
              `,
                icon: 'success',
                customClass: {
                    popup: 'my-popup-bg',
                    title: 'my-popup-title'
                }
            }).then(() => {
                const statTabBtn = document.querySelector('[data-bs-target="#stat"]');

                if (statTabBtn) {
                    const tab = new bootstrap.Tab(statTabBtn);
                    tab.show();
                }
            });;
                  }

      document.addEventListener("DOMContentLoaded", function () {
      const activeTab = "{{ active_tab|default:'pick' }}";

      // kalau di score → scroll ke score
      if (activeTab === "score") {
        const el = document.getElementById("score-section");
        if (el) {
          el.scrollIntoView({ behavior: "smooth" });
        }
      }
    });
  </script>
</div>
