<div class="name">
  <p class="match {% if winner == p1 %}winner{% endif %}" id="p1">
    <span class="flag">
      <img src="{{p1_profile.flag}}" alt="" />
    </span>
    <span class="player_name">{{ p1_name|title}} </span><span class="country">({{p1_profile.country}})</span>
    <span class="serve-icon">
      {% if not finish %} {% if current_server == "p1" %}
      <img src="https://img.icons8.com/color/48/tennis-ball.png" alt="" />
      {% endif %} {% endif %}
    </span>
  </p>
  <p id="p2" class="match {% if winner == p2 %}winner{% endif %}">
    <span class="flag">
      <img src="{{p2_profile.flag}}" alt="" />
    </span>
    <span class="player_name">{{ p2_name|title}} </span><span class="country">({{p2_profile.country}})</span>
    <span class="serve-icon">
      {% if not finish %} {% if current_server == "p2" %}
      <img src="https://img.icons8.com/color/48/tennis-ball.png" alt="" />
      {% endif %} {% endif %}
    </span>
  </p>
  <div class="status">
    {% if status_shot %}
    <p class="status_shot">{{status_shot}}</p>
    {% endif %} {% if status_point %}
    <p class="status_shot">{{status_point}}</p>
    {% endif %}
  </div>
</div>
