<div class="name">
  <p id="p1">
    <span class="serve-icon" style="display: inline-block; width: 25px; text-align: center">
      {% if current_server == "p1" %}
      <img width="25" height="25" src="https://img.icons8.com/color/48/tennis-ball.png" alt="tennis-ball" />
      {% endif %}
    </span>
    {{p1|title}}
  </p>
  <p id="p2">
    <span class="serve-icon" style="display: inline-block; width: 25px; text-align: center">
      {% if current_server == "p2" %}
      <img width="25" height="25" src="https://img.icons8.com/color/48/tennis-ball.png" alt="tennis-ball" />
      {% endif %}
    </span>
    {{p2|title}}
  </p>
</div>
