<div class="name">
  <p class="match {% if winner == p1 %}winner{% endif %}" id="p1">
    <span class="flag">
      <img width="30" height="24" src="{{p1_profile.flag}}" alt="tennis-ball" />
    </span>
    {{ p1|title}} ({{p1_profile.country}})
    <span class="serve-icon">
      {% if not finish %} {% if current_server == "p1" %}
      <img width="24" height="20" src="https://img.icons8.com/color/48/tennis-ball.png" alt="tennis-ball" />
      {% endif %} {% endif %}
    </span>
  </p>
  <p id="p2" class="match {% if winner == p2 %}winner{% endif %}">
    <span class="flag">
      <img width="30" height="24" src="{{p2_profile.flag}}" alt="tennis-ball" />
    </span>
    {{ p2|title}} ({{p2_profile.country}})
    <span class="serve-icon">
      {% if not finish %} {% if current_server == "p2" %}
      <img width="20" height="20" src="https://img.icons8.com/color/48/tennis-ball.png" alt="tennis-ball" />
      {% endif %} {% endif %}
    </span>
  </p>
</div>
