<div class="statistic general">
  <h3>Match Statistic</h3>
  <table>
    <thead>
      <tr>
        <th>
          {{ p1 }} ({{p1_profile.country}}) <br />
          <img src="{{p1_profile.photo}}" alt="" />
        </th>
        <th></th>
        <th>
          {{ p2 }} ({{p2_profile.country}}) <br />
          <img src="{{p2_profile.photo}}" alt="" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_ace1}}%;">{{ace1}}</div>
        </td>
        <td>Ace</td>
        <td>
          <div class="containerp2" style="width: {{total_ace2}}%;">{{ace2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_double_fault1}}%;">{{double_fault1}}</div>
        </td>
        <td>Double Fault</td>
        <td>
          <div class="containerp2" style="width: {{total_double_fault2}}%;">{{double_fault2}}</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{first_serve1}}%;">{{first_serve1}}%</div>
        </td>
        <td>% First Serve</td>
        <td>
          <div class="containerp2" style="width: {{first_serve2}}%;">{{first_serve2}}%</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{first_serve_win1}}%;">{{first_serve_win1}}%</div>
        </td>
        <td>% First Serve Win</td>
        <td>
          <div class="containerp2" style="width: {{first_serve_win2}}%;">{{first_serve_win2}}%</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{second_serve_win1}}%;">{{second_serve_win1}}%</div>
        </td>
        <td>% Second Serve Win</td>
        <td>
          <div class="containerp2" style="width: {{second_serve_win2}}%;">{{second_serve_win2}}%</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{return_pct1}}%;">{{return_point_won1}}/{{return_point1}}</div>
        </td>
        <td>Return Point Won</td>
        <td>
          <div class="containerp2" style="width: {{return_pct2}}%;">{{return_point_won2}}/{{return_point2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{break_point_won1}}%;">{{break_point_won1}}/{{break_point1}}</div>
        </td>
        <td>Break Point Won</td>
        <td>
          <div class="containerp2" style="width: {{break_point_won2}}%;">{{break_point_won2}}/{{break_point2}}</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_winner1}}%;">{{winner1}}</div>
        </td>
        <td>Winner</td>
        <td>
          <div class="containerp2" style="width: {{total_winner2}}%;">{{winner2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_forced_error1}}%;">{{forced_error1}}</div>
        </td>
        <td>Forced Error</td>
        <td>
          <div class="containerp2" style="width: {{total_forced_error2}}%;">{{forced_error2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_unforced_error1}}%;">{{unforced_error1}}</div>
        </td>
        <td>Unforced Error</td>
        <td>
          <div class="containerp2" style="width: {{total_unforced_error2}}%;">{{unforced_error2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{total_total_point1}}%;">{{total_point1}}</div>
        </td>
        <td>Total point</td>
        <td>
          <div class="containerp2" style="width: {{total_total_point2}}%;">{{total_point2}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
