<div class="statistic general">
  <!-- Result -->
  {% if finish %}
  <h3>Result</h3>
  <div class="result">
    <div class="result_name">
      <p>
        <span class="flag"> <img width="27" height="20" src="{{p1_profile.flag}}" alt="tennis-ball" /> </span>{{p1.name}} {% if match_winner == p1.name %} ✔ {% endif %}
      </p>
      <p>
        <span class="flag"> <img width="27" height="20" src="{{p2_profile.flag}}" alt="tennis-ball" /> </span>{{p2.name}} {% if match_winner == p2.name %} ✔ {% endif %}
      </p>
    </div>
    {% include 'snippets/game.html' %}
  </div>
  {% endif %}
  <!-- End of Result -->

  <!-- Table -->
  {% include 'snippets/table.html' %}
  <!-- End of Table -->
</div>
