<div class="statistic general">
  <h3>Match Statistic</h3>
  <table>
    <thead>
      <tr>
        <th>
          {{ p1 }} ({{p1_profile.country}}) <br />
          <img src="{{p1_profile.photo}}" alt="" />
        </th>
        <th></th>
        <th>
          {{ p2 }} ({{p2_profile.country}}) <br />
          <img src="{{p2_profile.photo}}" alt="" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="containerp1" style="width: {{ace_pct1}}%;">{{ace1}}</div>
        </td>
        <td>Ace</td>
        <td>
          <div class="containerp2" style="width: {{ace_pct2}}%;">{{ace2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{df_pct1}}%;">{{df1}}</div>
        </td>
        <td>Double Fault</td>
        <td>
          {{df2}}
          <div class="containerp2" style="width: {{df_pct2}}%;">{{df2}}</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{first_serve_pct1}};">{{first_serve_pct1}}</div>
        </td>
        <td>% First Serve</td>
        <td>
          <div class="containerp2" style="width: {{first_serve_pct2}};">{{first_serve_pct2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{firstservewin_pct1}}%;">{{firstservewin_pct1}}%</div>
        </td>
        <td>% First Serve Win</td>
        <td>
          <div class="containerp2" style="width: {{firstservewin_pct2}}%;">{{firstservewin_pct2}}%</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{secondservewin_pct1}}%;">{{secondservewin_pct1}}%</div>
        </td>
        <td>% Second Serve Win</td>
        <td>
          <div class="containerp2" style="width: {{secondservewin_pct2}}%;">{{secondservewin_pct2}}%</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{return_pct1}}%;">{{returnpointwon1}}/{{returnpoint1}}</div>
        </td>
        <td>Return Point Won</td>
        <td>
          <div class="containerp2" style="width: {{return_pct2}}%;">{{returnpointwon2}}/{{returnpoint2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{bpwin1}}%;">{{breakpointwon1}}/{{breakpoint1}}</div>
        </td>
        <td>Break Point Won</td>
        <td>
          <div class="containerp2" style="width: {{bpwin2}}%;">{{breakpointwon2}}/{{breakpoint2}}</div>
        </td>
      </tr>
      <tr class="type">
        <td colspan="3"></td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{winner_pct1}}%;">{{winner1}}</div>
        </td>
        <td>Winner</td>
        <td>
          <div class="containerp2" style="width: {{winner_pct2}}%;">{{winner2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{fe_pct1}}%;">{{fe1}}</div>
        </td>
        <td>Forced Error</td>
        <td>
          <div class="containerp2" style="width: {{fe_pct2}}%;">{{fe2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{ue_pct1}}%;">{{ue1}}</div>
        </td>
        <td>Unforced Error</td>
        <td>
          <div class="containerp2" style="width: {{ue_pct2}}%;">{{ue2}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="containerp1" style="width: {{totalpoint_pct1}}%;">{{tp1}}</div>
        </td>
        <td>Total point</td>
        <td>
          <div class="containerp2" style="width: {{totalpoint_pct2}}%;">{{tp2}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
