{% load stat_filter %}
<h3>Match Statistic</h3>
<table>
  <thead>
    <tr>
      <th>
        {{ p1_name }} ({{p1_profile.country}}) <br />
        <img src="{{p1_profile.photo}}" alt="" />
      </th>
      <th>
        <p>Total Duration:</p>
        <p>{{total_duration}}</p>
        <p>Set</p>
        <p>
          {% if current_set >= 1 %}
          <label>
            <input type="button" name="set_statistic" id="buton_set1" value="1" />
          </label>
          {% endif %} {% if current_set >= 2 %}
          <label>
            <input type="button" name="set_statistic" id="buton_set2" value="2" />
          </label>
          {% endif %} {% if finish %}
          <label>
            <input type="button" name="set_statistic" id="buton_set3" value="3" />
          </label>
          {% endif %}
          <label>
            <input type="button" name="set_statistic" id="all" value="All" />
          </label>
        </p>
      </th>
      <th>
        {{ p2_name }} ({{p2_profile.country}}) <br />
        <img src="{{p2_profile.photo}}" alt="" />
      </th>
    </tr>
  </thead>
  <tbody>
    {% for stat in table_match_stats %} {% if not stat.key %}
    <tr class="separator">
      <td colspan="3"></td>
    </tr>
    {% elif stat.category == "general" %}
    <tr>
      <td>
        <div class="containerp1 all_set" style="width: {{ totals|get_item:stat.pct_key_p1 }}%;">{{ p1|get_item:stat.key}}</div>
        {% for s in set_snapshot %}
        <div class="containerp1 stat_set{{ forloop.counter }}" style="width : {{s.totals|get_item:stat.pct_key_p1}}%;">{{ s.p1|get_item:stat.key }}</div>
        {% endfor %}
      </td>
      <td>{{stat.label}}</td>
      <td>
        <div class="containerp2 all_set" style="width: {{ totals|get_item:stat.pct_key_p2}}%;">{{ p2|get_item:stat.key}}</div>
        {% for s in set_snapshot %}
        <div class="containerp2 stat_set{{ forloop.counter }}" style="width : {{s.totals|get_item:stat.pct_key_p2}}%;">{{ s.p2|get_item:stat.key }}</div>
        {% endfor %}
      </td>
    </tr>
    {% elif stat.category == "service" %}
    <tr>
      <td>
        <div class="containerp1 all_set" style="width : {{p1|get_item:stat.pct}}%;" ;>{{p1|get_item:stat.pct}}%({{ p1|get_item:stat.key}}/{{ p1|get_item:stat.pair}})</div>
        {% for s in set_snapshot %}
        <div class="containerp1 stat_set{{ forloop.counter }}" style="width : {{s.p1|get_item:stat.pct}}%;">{{s.p1|get_item:stat.pct}}%({{ s.p1|get_item:stat.key }}/{{ s.p1|get_item:stat.pair}})</div>
        {% endfor %}
      </td>
      <td>{{stat.label}}</td>
      <td>
        <div class="containerp2 all_set" style="width : {{p2|get_item:stat.pct}}%;" ;>{{p2|get_item:stat.pct}}%({{ p2|get_item:stat.key}}/{{ p2|get_item:stat.pair}})</div>
        {% for s in set_snapshot %}
        <div class="containerp2 stat_set{{ forloop.counter }}" style="width : {{s.p2|get_item:stat.pct}}%;">{{s.p2|get_item:stat.pct}}%({{ s.p2|get_item:stat.key }}/{{ s.p2|get_item:stat.pair}})</div>
        {% endfor %}
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
