{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aplikasi Skor Tennis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <a href="{% url 'home' %}">Home</a>
    <div class="mainbody">
      <!-- Pick Players -->
      {% include 'snippets/pick_player.html' %}
      <!-- End of Pick Players -->
       
      <!-- Skor Pertandingan -->
      <div class="score">
        <h3>Score</h3>
        <div class="player">
          <!-- Pick point Winner -->
          {% include 'snippets/pick_point.html' %}
          <!-- End of Pick point Winner -->
        </div>
        <div class="livescore">
          <!-- Scoring -->
          {% include 'snippets/scoring.html' %}
          <!-- End of Scoring -->

          <div class="setside">
            <p class="game">{{set1_won}}</p>
            <p class="game">{{set2_won}}</p>
          </div>
          <div class="gameside">
            <p class="game">{{set1_p1}}</p>
            <p class="game">{{set1_p2}}</p>
          </div>
          {% if current_set > 0 %}
          <div class="gameside">
            <p class="game">{{set2_p1}}</p>
            <p class="game">{{set2_p2}}</p>
          </div>
          {% endif %} {% if current_set > 1 %}
          <div class="gameside">
            <p class="game">{{set3_p1}}</p>
            <p class="game">{{set3_p2}}</p>
          </div>

          {% endif %} {% if not tiebreak %}
          <div class="pointside">
            <p class="point">{{pt1}}</p>
            <p class="point">{{pt2}}</p>
          </div>
          {% endif %} {% if tiebreak %}
          <div class="pointside">
            <p class="point">{{tb1}}</p>
            <p class="point">{{tb2}}</p>
          </div>
          {% endif %}
          <div class="pointside">
            <p class="point">{{tp1}}</p>
            <p class="point">{{tp2}}</p>
          </div>
        </div>
        {% if finish %}
        <div class="result">
          <p>{{winner}} def. {{loser}} {{score}}</p>
        </div>
        {% endif %}
      </div>
      <!-- End of Skor Pertandingan -->

      <!-- ====================== -->
      <!-- ====================== -->

      <!-- Statistik -->
      <div class="statistic">
        <h3>Match Statistic</h3>
      </div>
      <!-- End of Statistik -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{% static 'js/javascript.js' %}"></script>
  </body>
</html>
